{% extends "base_layout.html" %}
{% block title %}{{forum.display_name}}{% endblock %}

{% block content %}
  <h3>{{forum.display_name}}</h3>
  <p>{{forum.description}}</p>
  {% if forum.viewer_can_edit == True %}
  <a href="{{ forum.edit_link }}">Edit Forum Settings</a>
  {% endif %}
  {% if forum.viewer_can_delete == True %}
  <form action="{{ forum.delete_link }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="submit" value="Delete Forum">
  </form>
  {% endif %}
  {% if forum.viewer_can_create_thread == True %}
  <a href="{{ forum.thread_create_link }}">Create Thread</a>
  {% endif %}
  <p>Threads:</p>
  <ul>
    {% for thread in threads %}
        <li>
          <a href="{{ thread.link}}">{{ thread.title }}</a>
          <p>{{ thread.content }}</p>
          <p>Posted by {{ thread.poster_username }} at {{ thread.localized_post_date }}</p>
        </li>
    {% endfor %}
  </ul>
{% endblock %}
