{% extends "base_layout.html" %}
{% block title %}Create Forum{% endblock %}

{% block content %}
  <h2>Create Forum</h2>
  <form action="" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <h3>Title</h3>
    <input type="text" name="forum_name" size="56">
    <h3>URL name</h3>
    <input type="text" name="forum_url_name" size="56">
    <h3>Content</h3>
    <textarea name="forum_description" rows="8" cols="64"></textarea>
    <p></p>
    <input type="submit" value="Submit">
    <a href="/">Cancel</a>
  </form>
  
{% endblock %}
