{% extends "base_layout.html" %}
{% block title %}{{forum.display_name}}{% endblock %}

{% block content %}
  <h3>{{forum.display_name}}</h3>
  <p>{{forum.forum_description}}</p>
  {% if permissions["edit"] == True %}
  <a href="{{ links['edit'] }}">Edit Forum Settings</a>
  {% endif %}
  {% if permissions["delete"] == True %}
  <form action="{{ links['delete'] }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="submit" value="Delete Forum">
  </form>
  {% endif %}
  {% if permissions["create_thread"] == True %}
  <a href="{{ links['create_thread'] }}">Create Thread</a>
  {% endif %}
  <p>Threads:</p>
  <ul>
    {% for thread in threads %}
        <li>
          <a href="{{ thread.link}}">{{ thread.title }}</a>
          <p>{{ thread.content }}</p>
          <p>Posted by {{ thread.poster_username }} at {{ thread.localized_post_date }}</p>
        </li>
    {% endfor %}
  </ul>
{% endblock %}
