{% extends "base_layout.html" %}
{% block title %}Frontpage{% endblock %}

{% block content %}

  <div class="forum_banner">
    <h2>
      Forums
      {% if can_create_forum == True %}
      <a class="basic_button_right_float" href="{{ forum_create_link }}">Create Forum</a>
      {% endif %}
    </h2>
  </div>
  <ul class="forum_list">
    {% for forum in forums %}
        <li class="forum_list_item">
          <a class="forum_list_link" href="{{ forum.link }}">{{ forum.display_name }}</a>
          <p class="forum_list_description">{{ forum.description }}</p>
        </li>
    {% endfor %}
  </ul>
{% endblock %}
