{% extends "base_layout.html" %}
{% block title %}{{thread.title}} - {{forum.display_name}}{% endblock %}

{% block content %}
  <a href="{{ thread.forum_link }}">{{ forum.display_name }}</a>
  <h2>{{thread.title}}</h2>
  <p>{{thread.content}}</p>
  {% if thread.last_edited_localized_date == None %}
  <p>Posted by {{thread.poster_username}} at {{ thread.localized_post_date }}</p>
  {% else %}
  <p>Posted by {{thread.poster_username}} at {{ thread.localized_post_date }} (EDITED at {{ thread.last_edited_localized_date }})</p>
  {% endif %}
  {% if thread.viewer_can_delete == True %}
  <form action="{{ thread.delete_link }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="submit" value="Delete Thread" name="delete_thread">
  </form>
  {% endif %}
  {% if thread.viewer_can_edit == True %}
  <a href="{{ thread.edit_link }}">Edit Thread</a>
  {% endif %}
  {% if thread.viewer_can_comment == True %}
  <form action="" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <h3>Write a Comment</h3>
    <textarea name="comment_content" rows="8" cols="64"></textarea>
    <p></p>
    <input type="submit" value="Submit" name="comment_submit">
  </form>
  {% else %}
  <h3>Log In or Sign Up to Comment</h3>
  {% endif %}
  <ul>
    {% for comment in comments %}
        <li>
          <p>{{ comment.content }}</p>
          <p>Posted by {{ comment.poster_username }} at {{ comment.localized_date }}</p>
          <a href="{{ comment.link }}">Permalink</a>
          <a href="{{ comment.edit_link }}">Edit</a>
          <form action="{{ comment.delete_link }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="submit" value="Delete">
          </form>
        </li>
    {% endfor %}
  </ul>
{% endblock %}
