{% extends "base_layout.html" %}
{% block title %}{{thread.title}} - {{forum.display_name}}{% endblock %}

{% block content %}
  <a href="{{ forum_link }}">{{ forum.display_name }}</a>
  <h2>{{thread.title}}</h2>
  <p>{{thread.content}}</p>
  <p>Posted by {{thread.poster_username}} at {{ thread.localized_post_date }}</p>
  {% if delete_allowed == True %}
  <form action="" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="submit" value="Delete Thread" name="delete_thread">
  </form>
  {% endif %}
  <form action="" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <h3>Write a Comment</h3>
    <textarea name="comment_content" rows="8" cols="64"></textarea>
    <p></p>
    <input type="submit" value="Submit" name="comment_submit">
  </form>
  <ul>
    {% for comment in comments %}
        <li>
          <p>{{ comment.content }}</p>
          <p>Posted by {{ comment.poster_username }} at {{ comment.localized_date }}</p>
        </li>
    {% endfor %}
  </ul>
{% endblock %}
