{% extends "base_layout.html" %}
{% block title %}{{thread.title}} - {{forum.display_name}}{% endblock %}

{% block content %}
<div class="forum_banner">
  <a class="content_header" href="{{forum.link}}">
    {{forum.display_name}}   
  </a>
  <p class="content_header_description">{{forum.description}}</p>
</div>
<div class="thread_container">
  <div class="thread_list_item">
    <h2 class="thread_list_link">{{thread.title}}</h2>
    <p class="thread_list_description">{{thread.content}}</p>
    <p class="thread_list_item_user">{{thread.poster_username}}</p>
    {% if thread.last_edited_localized_date == None %}
    <p class="thread_list_item_time">{{ thread.localized_post_date }}</p>
    {% else %}
    <p class="thread_list_item_time">{{ thread.localized_post_date }} (EDITED at {{ thread.last_edited_localized_date }})</p>
    {% endif %}
  </div>
  <form action="{{ thread.delete_link }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% if thread.viewer_can_edit == True %}
    <a class="basic_button" href="{{ thread.edit_link }}">Edit Thread</a>
    {% endif %}
    {% if thread.viewer_can_delete == True %}
    <input class="basic_button_inverted" type="submit" value="Delete Thread" name="delete_thread">
    {% endif %}
  </form>
  {% if thread.viewer_can_comment == True %}
  <form action="" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <h3>Write a Comment</h3>
    <textarea name="comment_content" rows="8" cols="64"></textarea>
    <p></p>
    <input class="basic_button_inverted" type="submit" value="Submit" name="comment_submit">
  </form>
  {% else %}
  <h3>Log In or Sign Up to Comment</h3>
  {% endif %}
  <ul class="comment_list">
    {% for comment in comments %}
        <li class="comment_list_item">
          <p class="comment_list_item_user">{{ comment.poster_username }} </p>
          {% if comment.last_edited_localized_date == None %}
          <p class="comment_list_item_time">{{ comment.localized_date }}</p>
          {% else %}
          <p class="comment_list_item_time">{{ comment.localized_date }} (EDITED at {{ comment.last_edited_localized_date }})</p>
          {% endif %}
          <p class="comment_list_description">{{ comment.content }}</p>
          <form class="form_special_button" action="{{ comment.delete_link }}" method="POST">
            <a class="basic_button" href="{{ comment.link }}">Permalink</a>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            
            {% if comment.viewer_can_edit == True %}
            <a class="basic_button" href="{{ comment.edit_link }}">Edit</a>
            {% endif %}
            {% if comment.viewer_can_delete == True %}
            <input class="basic_button_inverted" type="submit" value="Delete">
            {% endif %}
          </form>
        </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
