{% extends "base_layout.html" %}
{% block title %}Log In{% endblock %}

{% block content %}
    <div class="login_box">
        <form method="POST" class="login_form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input placeholder="Username" class="login_box_item" type="text" name="username" id="username_input"></input>
            <input placeholder="Password" class="login_box_item" type="password" name="password" id="password_input"></input>
            <input class="big_button_inverted" type="submit" value="Log in"></input>
        </form>
    </div>
{% endblock %}
