{% extends "base_layout.html" %}
{% block title %}Log In{% endblock %}

{% block content %}
    <div>
        <form method="POST">
            <label for="username_input">Username</label>
            <input type="text" name="username" id="username_input"></input>
            <label for="password_input">Password</label>
            <input type="password" name="password" id="password_input"></input>
            <input type="submit" value="Log in"></input>
        </form>
    </div>
{% endblock %}
